@import "tailwindcss";


html,
body {
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  
  
  --color-primary: #0C0E1D;

  --color-secondary :#616083 ;

  --color-third : #ff81ff;

  --color-fourth : #51faaa;

}

#root{
  background-color: #0C0E1D;
  /* background: linear-gradient(to bottom, #616083, #0C0E1D); */
}